<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>
  <div class="p-5 text-center bg-light">
    <h3><%=title %> Page</h3>
    <p><strong>Anurag Mandapati</strong></p>
    <ul class="list-unstyled">
    <li>I am Anurag Mandapati</li>
    <li>I am pursuing my Advanced Diploma</li>
  <li><a class="btn btn-link" href="/Assets/documents/Anurag's Resume.pdf" role="Button">Resume</a></li>
</ul>
    <img src="/Assets/images/IMG_2830.jpg" class="img-rounded" alt="Photo" style="width:30%">
    
  </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   










