<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>
  <div class="p-5 text-center bg-light">
    <h3><%=title %> Page</h3>
    <h2>Portfolio Website</h2>
    <p class="text-left"><strong>I m currently creating a portfolio website</strong></p>
    <img src="/Assets/images/Capture.PNG" class="rounded float" alt="Cinque Terre" style="width:30%">
    </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   










